
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-Regular.woff2');
}
@font-face {
  font-family: 'Inter-Bold';
  src: url('../assets/fonts/Inter-Bold.woff2');
  font-weight: bold;
}

* {
  --ff1: Inter;
  --ff2: Inter-Bold;
  --h1: 2.5rem;
  --h2: 1.5rem;
  --b1: 1.125rem;
  --b2: 0.875rem;

  box-sizing: border-box;
}

h1 {
  font-family: var(--ff2);
  font-size: var(--h1) !important;
  margin-left: 0;
}

h2 {
  font-family: var(--ff1);
  font-size: var(--h2) !important;
}

p {
  font-family: var(--ff1);
  font-size: var(--b1) !important;
}

small {
  font-family: var(--ff2);
  font-size: var(--b2) !important;
}
